<h1>Lista de Clientes</h1>

{% if clientes %}
    <ul>
        {% for cliente in clientes %}
            <li>
                {{ cliente.nome }} - {{ cliente.cpf }} - {{ cliente.cidade }} - {{ cliente.telefone }}
                <a href="/clientes/editar/{{ cliente.cpf }}/">Editar</a>

                <form action="/clientes/deletar/{{ cliente.cpf }}/" method="POST" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Deletar</button>
                </form>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Nenhum cliente encontrado.</p>
{% endif %}